# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Google API Credentials (EXTREMELY IMPORTANT TO IGNORE)
client_secret.json
token.json
credentials.json

# Local virtual environment
venv/
env/
.venv/
